
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
    display: flex;
    justify-self: unset;
    flex-direction: column;
    max-width: 1200px;
    background-size: cover;
    background-image: url(./istockphoto-1409387561-170667a\ 34.webp);
}
.navbar{
    list-style: none;
    margin: 4px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.4);
    align-items: center;
    text-decoration: none;
    background-color: rgb(255, 72, 0);
}
a{
    text-decoration: none;
    color: black;
}
nav ul li{
    padding-right: 2rem;
    transition: all .5s ease-in-out;
} 
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}  
       
button{
        background-color: rgb(177, 157, 157);
 }